/* body{
    background-image: url("images/paul-gilmore-5jSRM-M1z2Y-unsplash.jpg");
    max-width: 100%;
    height: auto;
    opacity: 0.8;
} */



h1, p{
    color: white;
    text-align: center;

}


/* p{
    color: white;
    text-align: center;
} */

.textwhite{
    color: white;
}


.backgroundwhite{
    background-color: white;
}


body {
    background-image: url("images/paul-gilmore-5jSRM-M1z2Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
  }

body, html{
    height: 100%
}
.aboutText{
    text-align: right;
}
.img-fluid{
    border-radius: 20px;
    position: relative;
    left: 40px;

}

.buttonalign{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.cardborder{
    position: relative;
    left: 20px;
    margin: 4px;
    padding: 2px;
}

.cardsize{
    width: 250px;
    height: 250px;
}

.img-fluid{
    height: 495px;
    width: 494px;
    text-align: center;
    display: inline-block;
}

.indextext, h2{
    margin-top: 200px;
    font-size: 80px;
    color:white;
    text-align: center;
}

.indextext, .p2{
    font-size: 45px;
}
