
h1, p{
    color: white;
    text-align: center;

}

.textwhite{
    color: white;
}


.backgroundwhite{
    background-color: white;
}


body {
    background-image: url("images/paul-gilmore-5jSRM-M1z2Y-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
  }

body, html{
    height: 100%
}
.aboutText{
    text-align: right;
}
.img-fluid{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;

}

.buttonalign{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.cardborder{
    position: relative;
    left: 20px;
    margin: 4px;
    padding: 2px;
    border-radius: 5px;
}

.cardsize{
    width: 250px;
    height: 250px;
}

.indextext, h2{
    margin-top: 200px;
    font-size: 80px;
    color:white;
    text-align: center;
}

.indextext, .p2{
    font-size: 45px;
}

.formlength{
    width: 500px;
    position: relative;
    left: 20px;

}

.submit-button{
    position:relative;
    left: 20px;

}